* {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  width: 85.2rem;
  height: 4rem;
  padding: 0;
  margin: 0;
  background: black;
  position: fixed;
  z-index: 1;
}

.hero {
  width: 86.2rem;
  height: 44.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #2d2d2c;
  margin-bottom: 100px;
  background-image: url(./IMG/prueba-final.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 2px solid red;
}



.glass {
  height: 43.5rem;
  width: 85.2rem;
  clip-path: inset(10rem);
  filter: blur(20px);
  /* display: flex; */
  justify-content: end !important;
  align-items: end;
}

.drop-shadow p {
  margin-bottom: -7rem;
  ;
}

.drop-shadow {
  height: 36.5rem;
  width: 100%;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, .3));
  display: flex;
  justify-content: end !important;
  align-items: center;
}

.drop-shadow:before {
  display: block;
  content: "";
  position: absolute;
  top: 10rem;
  height: calc(100% - 20em);
  width: calc(100% - 20em);
  border-top: 2px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  z-index: 2;
  filter: blur(5px);
}


.drop-shadow span {
  position: absolute;
  z-index: 5;
  color: #2d2d2c;
  font-size: 4em;
  letter-spacing: 0.2em;
  padding-left:46.2rem;
  /* filter: blur(1px); */
}

.projects {
  /* margin-top: 20px; */
  width: 85.2rem;
  margin: 0;
  padding: 0;
  /* margin: 0; */
  height: 45rem;
  /* margin: 0 40px; */
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid green;
  background: white;

}

.about-me {
  width: 85.2rem;
  height: 38rem;
  text-align: center;
  margin: 0;
  padding: 0;
  border: solid 2px yellow;
}


/* Cards */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  color: #696969;
  padding: 0.5rem;
  text-transform: uppercase;
}

.btn--block {
  /* display: block; */
  width: 100%;
}

.cards {
  list-style: none;
  width: 80rem;
  height: 35rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: space-between;
  background: white;
}

.cards__item {
  padding: 1rem;
  width: 20rem;
  height: 30rem;
}

/* @media(min-width: 40rem) {
  width: 50%;
}
@media(min-width: 56rem) {
  width: 33.3333%;
} */

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
  background: white;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;

}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter (0.5s) cubic-bezier(.43, .41, .22, .91);
  ;


}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__image--burguer {
  background-image: url(./IMG/burguer.jpg);
}

.card__image--data {
  background-image: url(./IMG/league.jpg);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.title {
  width: 85.2rem;
  height: 20rem;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container-cards {
  width: 85.2rem;
  height: 35rem;
  background: white;
}

.container-cards h1 {
  text-align: center;
}


.about-name {
  width: 40rem;
  height: 35rem;
  height: auto;
  align-content: center;
  justify-content: center;
  /* margin-top: 100px; */
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  border: 4px solid black;
}
/* .about-name img{
  filter: blur(2px);
} */

.img-about{
  height: 37.7rem;
  width: 40rem;
  background: #F3F3F6;
  display: flex;
  align-content: center;
  justify-content: center;
  
}

.img-about h1{
  margin-top: 18rem;
  font-weight: bold;
}

.img-about img{
  height: 18rem;
  /* width: 10rem; */
  margin-top: 10rem;
  margin-right: -8rem;
  z-index: 1;
}

.frame{
  width: 6rem;
  height: 6rem;
  background: #cac8c8;
  margin-top: 7rem;
  margin-left: 2rem;
}

/* contact */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 22px;
  opacity: .5;
    transition: .5s;
  
}

  .social a{
    color: #2D1F28;
    text-decoration: none;
    margin: 10px;
    /* transform: rotate(-90deg); */
  }

  .social a:hover{
    opacity: .3;
    transition: .10s;
  }

.logo-jv {
  width: 23px;
  font-family: 'Aclonica', sans-serif;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  background-color: #ead1dc;
  padding: 5px;
  letter-spacing: 3px;
  line-height: 10px;
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 10px;
}

.text-about{
  width: 30rem;
  height: 10rem;
  text-align: justify;
  margin-left: 10rem;
  font-size: 1.1rem;
}

.text-about .line{
  width: 20rem;
  /* height: .1rem; */
  border: 2px solid #2D2D2C;
  margin-bottom: -1rem;
  margin-left: auto;
}

.contacto{
  /* transform: rotate(90deg); */
  width: 8rem;
  height: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 20rem;
  background: #cac8c8;
}
