* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  /* width: auto;
  height: auto; */
}

.container-general {
  width: 100vw;
  height: 100vh;
}

.about-me{
  height: 100vh;
  width: 100vw;
}

.hamburger{
	position:fixed;
  background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:rgb(167, 19, 19);
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:black;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
  color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:black;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}

nav {
  width: 100vw;
  height: 9vh;
  padding: 0;
  margin: 0;
  background: #343a40;
  position: fixed;
  z-index: 1;
  /* font-size: 15px; */
  
}
/* s */

body {
  /* background: #343a40; */
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
  /* margin: px 0; */
}

.mynav {
  width: 100vw;
  height: 4vh;
  /* margin-top: .rem; */
  display:flex;
  list-style-type: none;
  padding: 0;
  text-align:center;
  position:fixed;
  margin-left: 30rem;
  z-index: 999;
}
.mynav:hover a {
  color: #CCC;
}

.mynav li {
  flex:0 0 16.66%;
}

.hamburger{
  display: none;
}

.menuppal{
  display: none;
}

.mynav a {
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color .3s;
  padding: 1rem;
}

.target {
  display:flex;
  justify-content:center;
  position: absolute;
  left:0;
  top: 2.5rem;
  width:16vw;
  height:4px;
  background-color:transparent;
  transition:background-color .3s, left .3s;
}
.target:before,
.target:after{
  content:'';
  position:absolute;
  height:100%;
  width:15%;
  /* background-color:#ededed; */
}
.target:before {
  left:0;
}
.target:after {
  right:0;
}
/*"deepskyblue", "orange", "firebrick", "gold", "magenta", "black", "darkblue"*/
.mynav li:hover a {
  color:#000;
}
.mynav li:hover ~ .target {
  background-color:white;
}
.mynav li:nth-child(2):hover ~ .target {
  background-color:white;
  left:16.66%;
}
.mynav li:nth-child(3):hover ~ .target {
  background-color:white;
  left:33.33%;
}
.mynav li:nth-child(4):hover ~ .target {
  background-color:white;
  left:50%;
}

.menu-hamb{
  display: none;
}

.text-about p {
  text-align: justify;
  /* margin-bottom: 1rem; */
  margin-right: 2rem;
}

.text-about h1 {
  text-align: justify;
  /* margin-bottom: -5rem; */
  margin-right: 2rem;
}



#hero {
  width: 100vw;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #2d2d2c;
  margin-bottom: 100px;
  background-image: url(./IMG/prueba-final.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}



.glass {
  height: 100vh;
  width: 100vw;
  clip-path: inset(10rem);
  filter: blur(20px);
  /* display: flex; */
  justify-content: end !important;
  align-items: end;
}

.drop-shadow p {
  margin-bottom: -8rem;
  width: 45rem;
  font-size: 1.5rem;
}

.drop-shadow {
  height: 100vh;
  width: 100vw;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, .3));
  display: flex;
  justify-content: end !important;
  align-items: center;
}

.drop-shadow:before {
  display: block;
  content: "";
  position: absolute;
  top: 10rem;
  height: calc(100% - 20em);
  width: calc(100% - 20em);
  border-top: 2px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  z-index: 2;
  filter: blur(5px);
}


.drop-shadow span {
  position: absolute;
  z-index: 5;
  color: #2d2d2c;
  font-size: 4em;
  letter-spacing: 0.2em;
  padding-left: 44rem;
  /* filter: blur(1px); */
}

.projects {
  /* margin-top: 20px; */
  width: 100vw;
  margin: 0;
  padding: 0;
  /* margin: 0; */
  height: 100vh;
  /* margin: 0 40px; */
  display: flex;
  align-content: center;
  justify-content: center;
  /* border: 1px solid green; */
  background: white;

}




/* Cards */

img {
  height: auto;
  max-width: 50vw;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  color: #696969;
  padding: 0.5rem;
  text-transform: uppercase;
}

.btn--block {
  justify-content: center;
  /* display: block; */
  width: 45vw;
}

.cards {
  list-style: none;
  width: 100vh;
  height: 90vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: space-between;
  background: white;
}

.cards__item {
  width: 20vw;
  height: 30vh;
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
  background: white;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  height: 12rem;

}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter (0.5s) cubic-bezier(.43, .41, .22, .91);
  ;


}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__image--burguer {
  background-image: url(./IMG/burguer.jpg);
}

.card__image--data {
  background-image: url(./IMG/league.jpg);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: .4rem;
  padding: 0;
}

.title {
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container-cards {
  width: 100vw;
  height: 100vh;
  background: white;
}

.container-cards h1 {
  text-align: center;
  /* margin-top: 1rem; */
  padding: 2rem;
  margin: 1rem;

}


.about-name {
  width: 50vw;
  height: 100vw;
  height: auto;
  align-content: center;
  justify-content: center;
  /* margin-top: 100px; */
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  /* border: 4px solid black; */
}

/* .about-name img{
  filter: blur(2px);
} */

.img-about {
  height: 100vh;
  width: 30vw;
  background: #F3F3F6;
  display: flex;
  align-content: center;
  justify-content: center;

}

.img-about h1 {
  margin-top: 5rem;
  margin-left: 1rem;
  font-weight: bold;
}

.img-about img {
  height: 16rem;
  /* width: 10rem; */
  margin-top: 10rem;
  margin-right: -5rem;
  z-index: 1;
  width: 18rem;
}

.frame {
  width: 6rem;
  height: 6rem;
  background: #cac8c8;
  margin-top: -26rem;
  margin-left: 24rem;
}

/* contact */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 22px;
  /* opacity: .5; */
  transition: .5s;

}

.social a {
  color: #2D1F28;
  text-decoration: none;
  margin: 10px;
  /* transform: rotate(-90deg); */
}

.social a:hover {
  opacity: .3;
  transition: .10s;
}

.logo-jv {
  width: 23px;
  font-family: 'Aclonica', sans-serif;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  background-color: #ead1dc;
  padding: 5px;
  letter-spacing: 3px;
  line-height: 10px;
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 10px;
}

.text-about {
  width: 40vw;
  height: 20vh;
  text-align: justify;
  margin-left: 30rem;
  /* margin-bottom: 10rem; */
  font-size: 1.1rem;
}

.text-about .line {
  width: 70%;
  /* height: .1rem; */
  border: 2px solid #2D2D2C;
  margin-bottom: -1rem;
  margin-left: 8rem;
}

.contacto {
  /* transform: rotate(90deg); */
  width: 10vw;
  height: 5vh;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 29rem;
  margin-top: -4rem;
  /* background: #cac8c8; */
}

.enabled-menu {
  display: block;
}

.disabled-menu {
  display: block;
}

.hamburguer {
  display: none;
}

.nav-opn {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}

.container-about {
  width: 50vw;
  height: 40vh;
}

#knowledges{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.knowledges-img{
  display: flex;
  align-content: center;
  justify-content: center;
}

/* .navbar-nav .nav-item .nav-link{
  color: #000;
} */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: 16.5rem;
  }
}



@media(max-width: 768px) {

  .hamburger{
    display: block;
  }
  
  .menuppal{
    display: block;
  }

  .menu-desktop{
    display: none;
  }
  

  .navbar {
    width: 100vw;
    height: 7vh;
    padding: 0;
    margin: 0;
    background: black;
    position: fixed;
    z-index: 1;
  }

  #hero {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: end;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #2d2d2c;
    margin-bottom: 100px;
    background-image: url(./IMG/prueba-final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
  }

  .navegacion {
    background: #A5A49F;
    width: 20rem;

  }

  .drop-shadow span {
    position: absolute;
    z-index: 0;
    color: #2d2d2c;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    padding-left: 12rem;
    /* filter: blur(1px); */
    width: 47.5rem;
  }

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: .7rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .cards {
    list-style: none;
    width: 150vh;
    height: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background: white;
  }

  .cards__item {
    width: 15vw;
    height: 50vh;
  }

  .card__image {
    width: 100vw;
    height: 40vh;
  }

  .card {
    height: 80vh;
    width: 40vw;
  }

  .card__content {
    height: 20vh;
    width: 60vw;
    text-align: justify;
    padding: .8rem;
  }

  .img-about {
    height: 30vh;
    width: 50vw;
    background: #F3F3F6;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .card__text {
    flex: 1 1 auto;
    font-size: 0.7rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
    width: 35vw;
    height: 20vh;
    padding: 0;
    margin: 0;
  }

  .card__text p {
    width: 35vw;
    height: 5vh;
    padding: 0;
    margin: 0;
  }

  .card__title {
    /* color: #696969; */
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 50vw;
  }

  .btn {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    color: #696969;
    padding: 0.2rem;
    text-transform: uppercase;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 3rem;
  }

  .container-cards{
    width: 100vw;
    height: 80vh;
  }

  .container-cards h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 3rem;
    width: 100vw;
    /* margin-top: .8rem; */
  }

  /* .img-about {
    height: 95vh;
    width: 20vw;
    background: #F3F3F6;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  } */

  .img-about h1 {
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 2rem;
    width: 100vw;
  }

  .img-about img {
    height: 7rem;
    width: 7rem;
    margin-top: 2rem;
    margin-right: -6rem;
    z-index: 1;
    padding: 0;
  }

  .frame {
    width: 4rem;
    height: 4rem;
    background: #cac8c8;
    margin-bottom: 1rem;
    margin-right: 20rem;
    margin-top: -20rem;
  }

  .text-about h1,
  p {
    margin-left: 7rem;
    width: 60vw;
  }

  .text-about {
    margin-top: -5rem;
  }

  .text-about .line {
    width: 69%;
    /* height: .1rem; */
    border: 2px solid #2D2D2C;
    margin-bottom: -1rem;
    margin-left: 15rem;
  }

  .social {
    margin-top: 3rem;
    margin-left: 10rem;
  }

  .container-about {
    width: 50vw;
    height: 80vh;
  }

}

@media(max-width: 414px) and (max-width : 736px) {

  .hamburger{
    display: block;
  }
  
  .menuppal{
    display: block;
  }

  .cards{
    height: 78vh;
    width: 65vw;
  }

  .card{
    height: 35vh;
    width: 60vw;
  }

.cards__item {
    width: 100vw;
    height: 37vh;
}

  .card__image {
    height: 15vh;
    width: 60vw;
}
.card__text{
  text-align: justify;
  width: 53vw;
  font-size: 0.6rem;

}

.card__title{
  width: 50vw;
}
  .drop-shadow span {
    width: 25rem;
    /* margin-top: 10rem; */
    /* margin-left: 4rem; */
    
  }
  .drop-shadow p{
    margin-top: 30rem;
    font-size: 1rem;
  }


  .img-about {
    height: 80vh;
    width: 100vw;
    background: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .img-about h1 {
    /* margin-top: 5rem; */
    /* margin-left: 17rem; */
    font-size: 2rem;
    height: 8rem;
    padding: 0;
    width: 100vw;
  }


  .img-about img {
    margin-top: 16rem;
    margin-left: 17rem;
    height: 8rem;
    width: 7rem;
    margin-right: 17rem;

  }

  .text-about {
    margin-top: -11rem;
    width: 29vw;
    height: 41vh;
    margin-left: -5rem;

  }

  .frame {
    width: 2rem;
    height: 2rem;
    background: #cac8c8;
    margin-bottom: 1rem;
    margin-left: 8rem;
    margin-top: -23rem;
  }

  .text-about .line {
    width: 190%;
    /* height: .1rem; */
    border: 2px solid #2D2D2C;
    margin-bottom: 1rem;
    margin-left: 11rem;
  }

  .container-about {
    width: 20vw;
    height: 57vh;
    margin: 0;
    padding: 0;
  }

  .contacto {
    margin-top: 0rem;
    margin-left: 14rem;
  }

  .text-about .description {
    text-align: justify;
    width: 90vw;
    margin-left: 6.5rem;
    padding: 1rem;
  }

  .container-cards {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .text-about h1{
    width: 100vw;
    margin: 0;
    text-align: end;
  }

  .container-cards h1{
    text-align: center;
    padding: 2rem;
    margin: 0;
    height: 3rem;
    width: 100vw;
  }

  .text-about p{
width: 100vw;
text-align: center;
margin: 0;
font-size: 1rem;
margin-left: 5rem;

  }

  .frame {
    background: white;
  }

  .btn{
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  .card__content {
    height: 20vh;
    width: 60vw;
    text-align: justify;
    padding: 0.8rem;
}
.contacto{
  margin-top: 13rem;
  margin-left: 7rem;
}

}



@media(max-width: 375px) {
  
  .cards {
    list-style: none;
    width: 55vh;
    height: 50vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background: white;
  }

  .drop-shadow span {
    width: 23.5rem;
    margin-top: -1rem;
  }

  .drop-shadow {
    margin-top: 15rem;
  }

  .text-about h1,
  p {
    margin-left: 1rem;
    width: 49vw;
  }

  .card__image {
    height: 15vh;
    width: 45vw;
  }

  .card__text {
    width: 35vw;
    height: 10vh;
  }

  .card {
    height: 52vh;
    width: 45vw;
  }

  .img-about img {
    margin-top: -7rem;
  }

  .img-about {
    height: 95vh;
    width: 30vw;
    background: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .img-about h1 {
    /* margin-top: 5rem; */
    margin-left: 17rem;
    font-size: 2rem;
  }


  .img-about img {
    margin-top: 23rem;
    margin-left: 10rem;
  }

  .text-about {
    margin-top: -11rem;
    width: 29vw;
    height: 41vh;
    margin-left: 1rem;

  }

  .frame {
    width: 2rem;
    height: 2rem;
    background: #cac8c8;
    margin-bottom: 1rem;
    margin-left: 8rem;
    margin-top: -23rem;
  }

  .text-about .line {
    width: 182%;
    /* height: .1rem; */
    border: 2px solid #2D2D2C;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }

  .container-about {
    width: 20vw;
    height: 57vh;
    margin: 0;
    padding: 0;
  }

  .contacto {
    margin-top: 1rem;
    margin-left: 13rem;
  }

  .text-about p {
    font-size: 1rem;
    margin-bottom: -10rem;
  }

  .text-about .description {
    text-align: justify;
    margin-bottom: -10rem;
    margin-right: 2rem;
  }

  .container-cards {
    margin: 0;
    padding: 0;
  }

  .text-about h1,
  p {
    width: 87vw;
    text-align: center;
  }

  .frame {
    background: white;
  }
}